In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\Generative AI\generative ai project\QA_SQL_Tabular_data\data\for_uploads\titanic_small.csv")

In [4]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35,0,0,8.0500

In [5]:
# what's the average age of survivors?

df_survivors = df[df['Survived'] == 1]
df_survivors['Age'].mean()

29.4

In [6]:
# Those who survived
len(df[df['Survived']==1])

15

In [7]:
(df[df['Survived']==1]["Sex"]=="female").value_counts()

Sex
True     12
False     3
Name: count, dtype: int64

In [8]:
# Those who didn't
len(df[df['Survived']==0])

15